<div class="row margin-bot">
	<ul class="register-nav">
		<li id="personal" class="register-tab-active"><h4><a ng-click='ctrl.activeTab()' href="#/customer/personal-info">Personal</a></h4></li>
		<li id="adress" class="register-tab"><h4><a href="#/customer/adress-info">Address</a></h4></li>
		<li id="emplyment" class="register-tab"><h4><a href="#/customer/employment-info">Employment</a></h4></li>
		<li id="home" class="register-tab"><h4><a href="#/customer/personal-info">Home	  </a></h4></li>
		<li id="vehicle" class="register-tab"><h4><a href="#/customer/personal-info">Vehicle   </a></h4></li>
		<li id="final" class="register-tab"><h4><a href="#/customer/personal-info">Final	  </a></h4></li>
	</ul>
</div>