<div class="row margin-bot">
	<ul class="register-nav">
		<li id="personal" class="register-tab-active"><h4><a ng-click='ctrl.activeTab()' href="#/customer/personal-info">Personal</a></h4></li>
		<li id="travel" class="register-tab-active"><h4><a ng-click="ctrl.activeTab()" href="#/customer/travel-insurance">Travel</a></h4></li>
		<li id="home" class="register-tab-active"><h4><a ng-click="ctrl.activeTab()"  href="#/customer/home-insurance">Home</a></h4></li>
		<li id="vehicle" class="register-tab-active"><h4><a ng-click="ctrl.activeTab()" href="#/customer/vehicle-insurance">Vehicle</a></h4></li>
        <li id="overview" class="register-tab-active"><h4><a ng-click="ctrl.activeTab()" href="#/customer/overview">Overview</a></h4></li>
	</ul>
</div>