html, body {
  height: 100%; }

.register-tab {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid #D8D8D8;
  color: #D8D8D8; }
  .register-tab h4 {
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer; }
  .register-tab a {
    text-decoration: none;
    color: #D8D8D8; }

.staff-item {
  padding: 5%;
  height: 400px;
  overflow: hidden; }

.register-tab-active {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid #10a268;
  color: #10a268; }
  .register-tab-active h4 {
    margin-left: 50px;
    margin-right: 50px; }
  .register-tab-active a {
    text-decoration: none;
    color: #10a268;
    cursor: pointer; }

.panel-insurance {
  padding: 0px;
  margin-top: 80px;
  border: 1px solid #10a268;
  margin-bottom: 80px; }
  .panel-insurance-heading {
    background-color: #10a268;
    color: white; }

.jumbotron-modification {
  display: inline-block;
  background-color: white; }

.img-max-width {
  width: 100%; }

.btn-acq {
  background-color: #10a268;
  border: none;
  color: white; }
  .btn-acq a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: transparent; }

.well-modification {
  text-align: center;
  border-radius: 10px; }

.register-nav {
  list-style: none;
  padding-left: 10px; }

.margin-tp {
  margin-top: 100px; }

.margin-bot {
  margin-bottom: 80px; }

.footer {
  width: 100%;
  bottom: 0;
  height: 200px;
  background-color: #1a1a1a;
  padding-left: 60px;
  margin: 0 auto; }
