<h2 class="cursive-font title">Safeguard</h2>
	<hr/>
	<p style="text-align:justify; color:white">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan neque a lectus euismod elementum. Aenean odio nisl, efficitur porttitor velit at, auctor malesuada purus.
	</p>
	<hr>
	<div class="col-md-8 col-md-offset-2">
	<ul class="pull-right" style="color:white;list-style:none;font-size:16px;margin:50px auto;margin-right:45%">
		<li><a href="#" style="text-decoration:none;color:white">Home</a></li>
		<li><a href="#" style="text-decoration:none;color:white">Contact</a></li>
		<li><a href="#" style="text-decoration:none;color:white">About Us</a></li>
	</ul>
	</div>
	<div class="col-xs-12">
	<a style="color:white; text-decoration:none; margin:5% 5%;" href="#">Lorem ipsum</a>|<a style="color:white; text-decoration:none; margin:5% 5%;" href="#">Lorem ipsum</a>|<a style="color:white; text-decoration:none; margin:5% 5%;" href="#">Lorem</a>|
	</div>