
	<div class="container margin-tp" >

	
	<div class="col-md-12 margin-bot">
	<h3 style="text-align:center">Global</h2>
	<hr style="color:rgb(16,162,104)"/>
	<div class="col-md-12" style="float:left;padding-left:0px;">
	<div class="col-md-6">
		<label class="col-md-5">Marketing:</label>
		<div class="col-xs-offset-1" style="float:left">
			<span class="col-xs-12"> <strong>E-mail</strong>: marketing@insurances.com</span>
			<span class="col-xs-12"> <strong>Phone</strong>: +11 65 1251 535</span>
			<span class="col-xs-12"> <strong>Fax  </strong>: 123546988</span>
		</div>
	</div>
	<div class="col-xs-6">
		<label class="col-xs-5">Adress:</label>
		<div class="col-xs-offset-1" style="float:left">
			<span class="col-xs-12"> <i>Lorem ipsum </i> 46,</span>
			<span class="col-xs-12"> Loremipsumvile, Planet Earth</span>
			<span class="col-xs-12"> Insurance Inc.</span>
		</div>
	</div>
		<label class="col-xs-12">Support:</label>
		<div class="col-xs-offset-1" style="float:left">
			<span class="col-xs-12"> <strong>E-mail</strong>: support@insurances.com</span>
			<span class="col-xs-12"> <strong>Phone </strong>: +11 65 1251 547</span>
			<span class="col-xs-12"> <strong>Fax   </strong>: 1583 56483</span>
		</div>
		<label class="col-xs-12">Consulting:</label>
		<div class="col-xs-offset-1" style="float:left">
			<span class="col-xs-12"> <strong>E-mail</strong>: consulting@insurances.com</span>
			<span class="col-xs-12"> <strong>Phone </strong>: +11 65 1251 549</span>
			<span class="col-xs-12"> <strong>Fax   </strong>: 1583 56493</span>
		</div>
	</div>

	<div class="col-md-12 margin-bot" style="text-align:justify">
	<h3 style="text-align:center">Custumers About Us</h3>
	<hr style="color:rgb(16,162,104)"/>
		<div class="col-md-4">
		<h3>Briliant</h3>
		<p>Lorem ipsum dolor sit ametquot repudiare duo in. Te saperet assentior omittantur pro. Nam no nostrud civibus scribentur, eam assum platonem ea, omnis evertitur expetendis sed ut. Mel eu aperiri insolens oportere. Cu sit fugit scriptorem, an tollit detraxit menandri usu. Ius copiosae praesent ex, sed exerci legere equidem at, mea an recteque moderatius.</p>
		</div>
		<div class="col-md-4">
		<h3>Outstanding</h3>
		<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. Te saperet assentior omittantur pro. Nam no nostrud civibus scribentur, eam assum platonem ea, omnis evertitur expetendis sed ut. Mel eu aperiri insolens oportere. Cu sit fugit scriptorem, an tollit detraxit menan sed exerci legere equidem at, mea an recteque moderatius.</p>
		</div>
		<div class="col-md-4">
		<h3>Not bad!</h3>
		<p>Lorem ipsum dolor sit amet, an duo ign. Ius copiosae praesent ex, sed exerci legere equidem at, mea an recteque moderatius.</p>
		</div>
	</div>
</div>
	</div>
	</div>
	


