
		<div class="jumbotron col-md-8 col-md-offset-2 blue-background" style="margin-top:20%;color:white;border-radius:10px">
			<div class="col-md-8">
				<img class="img-rounded col-md-4" style="margin:4px 0px;" src="../content/image/orange.jpg" alt="Test"/>
				<img class="img-rounded col-md-4" style="margin:4px 0px;" src="../content/image/orange.jpg" alt="Test"/>
				<img class="img-rounded col-md-4" style="margin:4px 0px;" src="../content/image/orange.jpg" alt="Test"/>
				<img class="img-rounded col-md-4" style="margin:4px 0px;" src="../content/image/orange.jpg" alt="Test"/>
				<img class="img-rounded col-md-4" style="margin:4px 0px;" src="../content/image/orange.jpg" alt="Test"/>
				<img class="img-rounded col-md-4" style="margin:4px 0px;" src="../content/image/orange.jpg" alt="Test"/>

			</div>
			<div class="col-md-4">
				<h2 style="text-align:center" class="cursive-font">Safeguard</h2>
				<hr/>
				<p style="font-size:14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<button class="btn btn-orange"><a href="#/login" style="color:white">Login</a></button>
			</div>
		</div>
	


