


<div class="panel panel-insurance col-xs-offset-3 col-xs-6 col-lg-offset-3 col-lg-6" style="padding:0px;margin-top:90px;">
  <div class="panel-heading panel-insurance-heading" >
    <h2 class="panel-title">Registration</h2>
  </div>
  <div class="panel-body" style=" margin-bottom:10px; padding-left:10%">
  <form>
  <div class="col-md-11">
 <div class="col-md-5" style="margin:10px;">
	<label class="form-controll">First Name</label>
    <input type="text" class="form-control" ng-model="name" />
	</div>
	 <div class="col-md-5" style="margin:10px;">
	<label class="form-controll">Last Name</label>
    <input type="text" class="form-control" ng-model="surname" >
	</div>
	 <div class="col-md-5" style="margin:10px;">
	<label class="form-controll">Username</label>
    <input type="text" class="form-control" ng-model="username"  >
	</div>
	 <div class="col-md-5" style="margin:10px;">
	<label class="form-controll">Password</label>
    <input type="text" class="form-control" ng-model="password"  />
	</div>
<div class="col-md-5" style="margin:10px;">
	<label class="form-controll">Identification number</label>
    <input type="text" class="form-control" ng-model="idNumber"  />
	</div>
	<div class="col-md-5" style="margin:10px;">
	<label class="form-controll">Account number</label>
    <input type="text" class="form-control" ng-model="accountNumber" />
	</div>
	</div>
	<div class="col-md-11" style="margin-top:20px;margin-left:25px">
		<button class="btn btn-primary" style="background-color:rgb(16, 162, 104);border:none;margin-bottom:40px;" ng-click="ctrl.register()">Register</button>
	</div>
</form>
	</div>
  </div>



