<div class="panel panel-insurance col-xs-offset-3 col-xs-6 col-lg-offset-4 col-lg-4">
    <div class="panel-heading panel-insurance-heading">
        <p class="panel-title" style="font-size:14px">Welcome</p>
    </div>
    <div class="panel-body" style=" margin-bottom:10px">
            <div class="form-horizontal">
                <h4>Register</h4>
                <hr />

                <div class="col-md-12">
                    <div class="form-group">
						<label class = "control-label col-md-3">First name:</label>
                        <div class="col-md-9">
							<input type="text" class="form-control" ng-model="loginData.firstName"/>
                            <span id="username-validation"/ class="text-danger">                           
                        </div>
                    </div>
					<div class="form-group">
						<label class = "control-label col-md-3">Last name:</label>
                        <div class="col-md-9">
							<input type="text" class="form-control" ng-model="loginData.lastName"/>
                            <span id="username-validation"/ class="text-danger">                           
                        </div>
                    </div>
					<div class="form-group">
						<label class = "control-label col-md-3">Username</label>
                        <div class="col-md-9">
							<input type="text" class="form-control" ng-model="loginData.username"/>
                            <span id="username-validation"/ class="text-danger">                           
                        </div>
                    </div>
					<div class="form-group">
						<label class = "control-label col-md-3">Password</label>
                        <div class="col-md-9">
							<input type="password" class="form-control" ng-model="loginData.password"/>
                            <span id="password-validation"/ class="text-danger">                           
                        </div>
					</div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-acq" ng-click="auth.login()">Register</button>
                        </div>
                    </div>
                </div>
            </div>
			<span><a href="#/" style="color:rgb(16,162,104)"><i>Home</i></a></span>
    </div>
</div>


