<div class="footer">
	<div class="container col-md-3" style="height:100%;padding-top:40px;color:white;display:inline-block;background-color:#1a1a1a;">
	<div>
	<p>We're committed to serving you.</p>
	<p>Contact us at +381 67092982391 day or night.</p>
	<p>Copyright &copy; Accquirer Insurance Inc. 2015</p>
	</div>
	</div>
	<div class="container col-md-3" style="height:100%;padding-top:40px;color:white">
	<div>
	<ul style="color:rgb(16, 162, 104);list-style:none">
	<li> Out team</li>
	<li> Contact Us</li>
	<li> Find Us</li>
	<li> Services</li>
	<li> Privacy Agreement</li>
	</ul>
	</div>
	</div>
	<div class="container col-md-3" style="height:100%;padding-top:40px;color:white">
	<div>
	<ul style="color:rgb(16, 162, 104);list-style:none">
	<li> Facebook</li>
	<li> Twitter</li>
	<li> LinkedIn</li>
	<li> Google+</li>
	<li> Pinterest</li>
	</ul>
	</div>
	</div>
	<div class="container col-md-3" style="height:100%;padding-top:40px;color:white">
	<div>
	<p>
	<ul style="list-style:none" class="col-md-12">                                          
	<li style="float:left;">
		<img src ="./content/image/english.png" class="img-circle"/>
		<a href="#/" style="border-right:solid 1px grey;padding-right:15px;padding-left:10px;text-decoration:none;color:rgb(16, 162, 104);">English</a>
	</li>
	<li style="float:left;padding-left:3px">
	<img src ="./content/image/espanol.jpg" class="img-circle"/>
	<a  href="#/" style="border-right:solid 1px gray;padding-right:15px;padding-left:10px;text-decoration:none;color:rgb(16, 162, 104);">Español </a> 
	</li>
	<li style="float:left;padding-left:3px">
	<img  src ="./content/image/france.jpg" class="img-circle"/>
	<a  href="#/" style="border-right:solid 1px gray;padding-right:15px;padding-left:10px;text-decoration:none;color:rgb(16, 162, 104);">Français </a>
	</li>
	</p>
	<p></p>
	</div>
	</div>
	</div>
	