    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgb(16, 162, 104);height: 60px;border-color:transparent !important">
        <div class="container">
            <div class="navbar-header" style="padding-top: 4px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a href="#/" class="navbar-brand" style="color:white;font-size:24px; padding-bottom:10px"><strong>Acquirer</strong></a>
				<span class="navbar-brand" style="font-size:14px;color:white"> We stand for you. Always.</span>
				
            </div>
            <div class="navbar-collapse collapse">
			 <ul class="nav navbar-nav navbar-right pull-right" style="padding-top: 4px;">
					<li ng-show="!header.isLoggedIn()"><a  href="#/login" style="color:white;"><strong>Login</strong></a></li>
					<li ng-show="!header.isLoggedIn()"><a href="#/register" style="color:white"><strong>Register</strong></a></li>
					<li ng-show="header.isLoggedIn()"><a ng-click="header.logOut()" style="color:white" ><strong>Log out</strong></a></li>
			   </ul>
                <ul class="nav navbar-nav navbar-right" style="padding-top: 4px;">
                    <li><a href="#/about" style="color:white"><strong>About</strong></a></li>
					<li><a href="#/" style="color:white"><strong>Services</strong></a></li>
					<li><a href="#/" style="color:white"><strong>Quote</strong></a></li>
					<li><a href="#/contact" style="color:white"><strong>Contact</strong></a></li>
                </ul>
              
            </div>
        </div>
    </div>