<div class="content col-md-12" style="padding-left:100px;margin-top:100px;">
<navigation></navigation>
<div class="col-md-12">
</div>
<widget-feedback></widget-feedback>
<form>
<div class="panel panel-default col-md-5 col-md-offset-3" style="padding:0px;margin-top:20px;">
  <div class="panel-heading" >
    <h2 class="panel-title">Payment</h2>
  </div>
  <div class="panel-body" style=" margin-bottom:10px">
  <div class="col-md-12">
  <h3>Prices:</h3>
  <hr/>
  <div class="col-md-6 col-md-offset-1">
	<p>Travel insurance: {{travelPrice}}<span class="pull-right">$ 300.00</span></p>
    <p>Home insurance: {{homePrice}} <span class="pull-right">$ 300.00</span></p>
    <p>Vehicle insurance: {{vehiclePrice}} <span class="pull-right">$ 300.00</span></p>
	<hr/>
	<p>Total: <span class="pull-right">$ 900.00</span></p>
    <div class="col-md-2 ">
        <button class="btn btn-primary" style="background-color:rgb(16, 162, 104);border:none;margin-bottom:40px;margin-top:40px" ng-click="ctrl.createPayment()">Submit</button>
    </div>
	</div>
	</div>
	</div>
  </div>
</form>
</div>

