<div class="content col-md-12" style="padding-left:100px;margin-top:100px;">
    <navigation></navigation>
    <div class="col-md-12">
        <h1 style="display:inline">Overview</h1>
    </div>
    <widget-feedback></widget-feedback>
    <form>
        <div class="panel panel-default col-md-5" style="padding:0px;margin-top:20px;">
            <div class="panel-heading" >
                <h2 class="panel-title">Basic Info</h2>
            </div>
            <div class="panel-body" style=" margin-bottom:10px">
                <div class="col-md-11">
                    <div class="col-md-5" style="margin:10px;">
                        <label class="form-controll">Travel insurance price</label>
                        <input type="text" class="form-control" ng-model="travelPrice" value = "{{travePrice}}" />
                    </div>
                    <div class="col-md-5" style="margin:10px;">
                        <label class="form-controll">Home insurance price</label>
                        <input type="text" class="form-control" ng-model="homePrice" >
                    </div>
                    <div class="col-md-5" style="margin:10px;">
                        <label class="form-controll">Vehicle insurance price</label>
                        <input type="text" class="form-control" ng-model="vehiclePrice"  >
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 pull-right">
            <button class="btn btn-primary" style="background-color:rgb(16, 162, 104);border:none;margin-bottom:40px;" ng-click="">Submit</button>
        </div>
    </form>
</div>

