
	<div class="container margin-tp" >
	
	
	<div class="col-md-12 margin-bot">
	<h3 style="text-align:center">Staff</h2>
	<hr style="color:rgb(16,162,104)"/>
	<div class="col-md-12" style="float:left;padding-left:0px;">
	<div class="staff-item col-md-3" style="text-align:center">
	<img src="./content/image/man.png" class="img img-rounded" style="border:1px solid rgb(16, 162, 104);"/>
	<h4 style="text-align:center; text-decoration:underline;">Stephen Hawking</h4>
	<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. </p>
	</div>
	<div class="staff-item col-md-3" style="text-align:center">
	<img src="./content/image/man.png" class="img img-rounded" style="border:1px solid rgb(16, 162, 104);"/>
	<h4 style="text-align:center; text-decoration:underline;">Nikola Tesla</h4>
	<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. </p>
	</div>
	<div class="staff-item col-md-3" style="text-align:center">
	<img src="./content/image/woman.png" class="img img-rounded" style="border:1px solid rgb(16, 162, 104);"/>
	<h4 style="text-align:center; text-decoration:underline;">Monica Belluci</h4>
	<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. </p>
	</div>
	<div class="staff-item col-md-3" style="text-align:center">
	<img src="./content/image/man.png" class="img img-rounded" style="border:1px solid rgb(16, 162, 104);"/>
	<h4 style="text-align:center; text-decoration:underline;">Lemmy Kilmister</h4>
	<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. </p>
	</div>
	<div class="staff-item col-md-3" style="text-align:center">
	<img src="./content/image/woman.png" class="img img-rounded" style="border:1px solid rgb(16, 162, 104);"/>
	<h4 style="text-align:center; text-decoration:underline;">Oprah</h4>
	<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. </p>
	</div>
	<div class="staff-item col-md-3" style="text-align:center">
	<img src="./content/image/oscar.jpg" class="img img-rounded" style="border:1px solid rgb(16, 162, 104);"/>
	<h4 style="text-align:center; text-decoration:underline;">Leonardo Di Caprio</h4>
	<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. </p>
	</div>
	<div class="staff-item col-md-3" style="text-align:center">
	<img src="./content/image/man.png" class="img img-rounded" style="border:1px solid rgb(16, 162, 104);"/>
	<h4 style="text-align:center; text-decoration:underline;">Vinko Zorić</h4>
	<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. </p>
	</div>
	<div class="staff-item col-md-3" style="text-align:center">
	<img src="./content/image/man.png" class="img img-rounded" style="border:1px solid rgb(16, 162, 104);"/>
	<h4 style="text-align:center; text-decoration:underline;">Bojan Trifković</h4>
	<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. </p>
	</div>
	</div>
	<div class="well col-md-12 well-modification">
	<h4> Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in 1936.</h4>
	<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. Te saperet assentior omittantur pro. Nam no nostrud civibus scribentur, eam assum platonem ea, omnis evertitur expetendis sed ut. Mel eu aperiri insolens oportere. Cu sit fugit scriptorem, an tollit detraxit menandri usu. Ius copiosae praesent ex, sed exerci legere equidem at, mea an recteque moderatius.</p>
	<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. Te saperet assentior omittantur pro. Nam no nostrud civibus scribentur, eam assum platonem ea, omnis evertitur expetendis sed ut. Mel eu aperiri insolens oportere. Cu sit fugit scriptorem, an tollit detraxit menandri usu. Ius copiosae praesent ex, sed exerci legere equidem at, mea an recteque moderatius.</p>
	</div>
	
	<div class="col-md-12 margin-bot" style="margin-top:40px">
	<hr style="color:rgb(16,162,104)"/>
		<div class="col-md-4">
		<h3>Office in US</h3>
		<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. Te saperet assentior omittantur pro. Nam no nostrud civibus scribentur, eam assum platonem ea, omnis evertitur expetendis sed ut. Mel eu aperiri insolens oportere. Cu sit fugit scriptorem, an tollit detraxit menandri usu. Ius copiosae praesent ex, sed exerci legere equidem at, mea an recteque moderatius.</p>
		</div>
		<div class="col-md-4">
		<h3>Office in Serbia</h3>
		<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. Te saperet assentior omittantur pro. Nam no nostrud civibus scribentur, eam assum platonem ea, omnis evertitur expetendis sed ut. Mel eu aperiri insolens oportere. Cu sit fugit scriptorem, an tollit detraxit menandri usu. Ius copiosae praesent ex, sed exerci legere equidem at, mea an recteque moderatius.</p>
		</div>
		<div class="col-md-4">
		<h3>Office in France</h3>
		<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. Te saperet assentior omittantur pro. Nam no nostrud civibus scribentur, eam assum platonem ea, omnis evertitur expetendis sed ut. Mel eu aperiri insolens oportere. Cu sit fugit scriptorem, an tollit detraxit menandri usu. Ius copiosae praesent ex, sed exerci legere equidem at, mea an recteque moderatius.</p>
		</div>
	</div>
	<div class="col-md-12 margin-bot" style="padding-top:40px;">
	<h3 style="text-align:center">Customers</h2>
	<hr style="color:rgb(16,162,104)"/>
	<div class="col-md-12" style="margin-top:30px;">
		<img class="col-md-3 img img-rounded" src="./content/image/customers.png" width="30px" height="60px">
		<img class="col-md-3 img img-rounded" src="./content/image/customers.png" width="30px" height="60px">
		<img class="col-md-3 img img-rounded" src="./content/image/customers.png" width="30px" height="60px">
		<img class="col-md-3 img img-rounded" src="./content/image/customers.png" width="30px" height="60px">
		</div>
		<div class="col-md-12" style="margin-top:30px;padding-left:240px">
		<img class="col-md-3 img img-rounded" src="./content/image/customers.png" width="30px" height="60px">
		<img class="col-md-3 img img-rounded" src="./content/image/customers.png" width="30px" height="60px">
		<img class="col-md-3 img img-rounded" src="./content/image/customers.png" width="30px" height="60px">
		</div>
		<div class="col-md-12" style="margin-top:30px;">
		<img class="col-md-3 img img-rounded" src="./content/image/customers.png" width="30px" height="60px">
		<img class="col-md-3 img img-rounded" src="./content/image/customers.png" width="30px" height="60px">
		<img class="col-md-3 img img-rounded" src="./content/image/customers.png" width="30px" height="60px">
		<img class="col-md-3 img img-rounded" src="./content/image/customers.png" width="30px" height="60px">
		</div>
	</div>
	</div>
	</div>
</div>
	</div>
	</div>
	


