
	<div class="container margin-tp" >
	<div class="jumbotron col-md-12 jumbotron-modification">
	<div class="col-md-8">
	<img class="img-rounded img-max-width" ng-src="{{home.homeImageUrl}}" alt="Test"/>
	</div>
	<div class="col-md-4">
	<h2>Acquirer</h2>
	<p>We're waging war on high premiums, fine print and difficult claims</p>
	<button class="btn btn-primary btn-acq"><a href="#/customer/personal-info">Join the Fight</a></button>
	</div>
	</div>
	<hr class="col-md-12"/>
	<div class="well col-md-12 well-modification">
	<h4> Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in.</h4>
	</div>
	<div class="col-md-12 margin-bot">
		<div class="col-md-4">
		<h3>Protect Your Home</h3>
		<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. Te saperet assentior omittantur pro. Nam no nostrud civibus scribentur, eam assum platonem ea, omnis evertitur expetendis sed ut. Mel eu aperiri insolens oportere. Cu sit fugit scriptorem, an tollit detraxit menandri usu. Ius copiosae praesent ex, sed exerci legere equidem at, mea an recteque moderatius.</p>
		<button class="btn btn-default">More Info</button>
		</div>
		<div class="col-md-4">
		<h3>Protect Your Vehicle</h3>
		<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. Te saperet assentior omittantur pro. Nam no nostrud civibus scribentur, eam assum platonem ea, omnis evertitur expetendis sed ut. Mel eu aperiri insolens oportere. Cu sit fugit scriptorem, an tollit detraxit menandri usu. Ius copiosae praesent ex, sed exerci legere equidem at, mea an recteque moderatius.</p>
		<button class="btn btn-default">More Info</button>
		</div>
		<div class="col-md-4">
		<h3>Protect Your Family</h3>
		<p>Lorem ipsum dolor sit amet, an duo ignota delectus sadipscing. Eius dicat sea id, quot repudiare duo in. Te saperet assentior omittantur pro. Nam no nostrud civibus scribentur, eam assum platonem ea, omnis evertitur expetendis sed ut. Mel eu aperiri insolens oportere. Cu sit fugit scriptorem, an tollit detraxit menandri usu. Ius copiosae praesent ex, sed exerci legere equidem at, mea an recteque moderatius.</p>
		<button class="btn btn-default">More Info</button>
		</div>
	</div>
	</div>
	


